<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <display-name>Archetype Created Web Application</display-name>

    <filter>
        <filter-name>GzipFilter</filter-name>
        <filter-class>org.mortbay.servlet.jetty.IncludableGzipFilter</filter-class>
        <init-param>
          <param-name>bufferSize</param-name>
          <param-value>8192</param-value>
        </init-param>
        <init-param>
          <param-name>minGzipSize</param-name>
          <param-value>1024</param-value>
        </init-param>
        <init-param>
          <param-name>userAgent</param-name>
          <param-value>(?:Mozilla[^\(]*\(compatible;\s*+([^;]*);.*)|(?:.*?([^\s]+/[^\s]+).*)</param-value>
        </init-param>
        <init-param>
          <param-name>cacheSize</param-name>
          <param-value>1024</param-value>
        </init-param>
        <init-param>
          <param-name>excludedAgents</param-name>
          <param-value>MSIE 6.0</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>GzipFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>ComposerJersey</servlet-name>
        <servlet-class>com.sun.jersey.impl.container.servlet.ServletAdaptor</servlet-class>
        <load-on-startup>1</load-on-startup>
        <run-as>
            <role-name>demos</role-name>
        </run-as>
        </servlet>

    <servlet-mapping>
        <servlet-name>ComposerJersey</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <security-constraint>
        <display-name>Composer Security</display-name>
        <web-resource-collection>
            <web-resource-name>Default</web-resource-name>
            <description/>
            <url-pattern>/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>

        

        <auth-constraint>
            <description>Composer Security</description>
            <role-name>users</role-name>
            <role-name>demos</role-name>
            </auth-constraint>
        </security-constraint>


  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>authentication</realm-name>
  </login-config>

<security-role>
    <description/>
    <role-name>users</role-name>
</security-role>

    <security-role>
        <description/>
        <role-name>demos</role-name>
    </security-role>
    </web-app>
