<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

	<!-- enable annotation-based bean configuration -->
	<context:annotation-config />

	<!-- enable AspectJ annotations -->
	<aop:aspectj-autoproxy />

	<!-- load application properties -->
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="ignoreResourceNotFound" value="true" />
		<!-- defaults for properties not defined externally -->
		<property name="properties">
			<props>
				<prop key="jdbc.driver">net.sourceforge.jtds.jdbc.Driver</prop>
                <prop key="jdbc.url">jdbc:jtds:sqlserver://192.168.1.142:1433/db_warehouse</prop>
                <prop key="db.user">cp_dev</prop>
                <prop key="db.password">skyisfalling45!</prop>
            </props>
		</property>
	</bean>

    <!-- application components -->

    <bean id="readerManager" class="org.composer.core.ReaderManager" factory-method="getInstance">
           <!-- <property name="smtphost" value="exchange02.corp.cafepress.com" />
            <property name="smtpport" value="25" />
            <property name="user" value="" />
            <property name="password" value="" /> -->
    </bean>


    <bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor" scope="prototype">
		<property name="corePoolSize" value="10" />
	</bean>


    <bean id="main" class="org.composer.core.Main">
        <!--<property name="executor" ref="taskExecutor" />
        <property name="sleepTime" value="1000" />-->
	</bean>

    <!-- aspects -->
	<bean id="loggingAspect" class="org.composer.aspects.Monitor" />

    <bean id="dataSource" class="org.springframework.jdbc.datasource.SingleConnectionDataSource" destroy-method="destroy">
            <property name="driverClassName" value="net.sourceforge.jtds.jdbc.Driver"/>
            <property name="url" value="jdbc:jtds:sqlserver://10.4.0.113/db_warehouse"/>
            <property name="username" value="cp_warehouse"/>
            <property name="password" value="warehouse357"/>
            <property name="autoCommit" value="true"/>
            <property name="suppressClose" value="true"/>
        </bean>

</beans>